<div class="navbar navbar-inverse">
    <div class="logo pull-left">
        <a class="navbar-brand" href="/" ui-sref="FIXME">SAMPLEAPP</a>
    </div>

    <div class="right pull-right">
        <ul class="navbar-nav nav auth-link" ng-show="!session.authenticated">
            <li><a href="#" ng-click="register()">Join</a></li>
            <li><a href="#" ng-click="login()">Log In</a></li>
        </ul>
        <ul class="navbar-nav nav auth-link btn-group" ng-show="session.authenticated">
            <li><a href="" data-toggle="dropdown" data-bind="label">{{session.username}}</a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#" ng-click="logout()">Log out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>