<div class="full-page-container">
    <div class="centered-container">
        <div class="col-md-4 col-md-offset-4 form-forgotPassword" ng-show="!done">
            <h2>Forgot your password ?</h2>
            <form id="forgotPassword_form" ng-submit="sendMeNew()">
                <div class="login-statements">
                    <span>Just tell us who you are. We will send you an email with a new one.</span>
                </div>
                <div class="input-wrapper">
                    <input class="login-input" required id="name" type="text" name="name" placeholder="Username"
                           ng-model="username" ng-change="error.username=null">
                    <span class="alert alert-danger" ng-show="error.username">{{error.username}}</span>
                </div>
                <div class="pull-right">
                    <button type="submit" class="submit-button">Send it to me</button>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-md-offset-4 form-forgotPassword" ng-show="done">
            <h2 style="color:green;">Done !</h2>
            <div class="login-statements">
                <span>Go check your emails and come back to us real quick.</span>
            </div>
        </div>
    </div>
</div>