<div class="full-page-container">
    <div class="centered-container">
        <div class="col-md-4 col-md-offset-4 form-register">
            <form name="register_form" ng-submit="register()">
                <h2>Sign Up</h2>

                <div class="input-wrapper">
                    <input class="login-input" required id="name" type="text" name="name" placeholder="Username"
                           ng-model="username" ng-change="error.username=null">

                    <span class="alert alert-danger" ng-show="error.username">{{error.username}}</span>
                </div>

                <div class="input-wrapper">
                    <input class="login-input" required id="email" type="email" name="email" placeholder="Email address"
                           ng-model="email" ng-change="error.email=null">

                    <span class="alert alert-danger" ng-show="register_form.input.$error.email">{{error.email}}</span>
                </div>

                <div class="input-wrapper">
                    <input class="login-input" required id="password" name="password" type="Password"
                           placeholder="Password" ng-model="password" ng-change="error.password=null">

                    <span class="alert alert-danger" ng-show="error.password">{{error.password}}</span>
                </div>
                <div class="input-wrapper">
                    <input class="login-input" required id="confirm-password" name="confirm_password" type="Password"
                           placeholder="Confirm password" ng-model="confirmPassword" ng-change="error.confirmPassword=null">

                    <span class="alert alert-danger" ng-show="error.confirmPassword">{{error.confirmPassword}}</span>
                </div>
                <div class="col-md-6 login-statements">
                    <p>Already have an account ? <a href="/#login">Log in</a></p>
                </div>
                <div class="pull-right">
                    <button type="submit" class="submit-button">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>